/vendor
/node_modules
/.idea
/.vscode
/.vagrant
/.phpunit.cache
/phpunit.xml
/.phpunit.result.cache
/.php-cs-fixer.cache
/.php_cs.cache
/composer.lock
/package-lock.json
/yarn.lock
.env
.env.backup
.env.production
.DS_Store
Thumbs.db
*.log
coverage
.phpstan
build
.php-cs-fixer.php
