parameters:
    level: 10
    paths:
        - src
        - config
        - tests

    ignoreErrors:
        # Ignore errors for test files if needed
        - identifier: missingType.iterableValue

    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: true
